In [6]:
import pandas as pd

tabla = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\TablaEjemplo.csv')

print(tabla)

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [11]:
import pandas as pd
# Extraer series
tabla = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\TablaEjemplo.csv')
# tabla['Nombre']
# tabla['Nombre','Edad']
# tabla.Edad

type(tabla)

pandas.core.frame.DataFrame

In [22]:
import pandas as pd

tabla = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\VentasTotales1.csv', delimiter=';', encoding='latin1')
# tabla['Nombre']
# tabla['Nombre','Edad']
# tabla.Edad

#type(tabla)

print(tabla.shape)
print(tabla.shape[0])
print(tabla.shape[1])
print(tabla)

(465, 7)
465
7
    Reporte Regional de Ventas        Unnamed: 1 Unnamed: 2  \
0                          NaN               NaN        NaN
1                Periodo desde         1/01/2016        NaN
2                Periodo hasta        31/01/2016        NaN
3                          NaN               NaN        NaN
4                        Fecha          Vendedor     Region
..                         ...               ...        ...
460                 31/01/2016        Sarah Bond        Sur
461                 31/01/2016        Dustin Gee       Este
462                 31/01/2016        Dustin Gee       Este
463                 31/01/2016        Dustin Gee      Norte
464                 31/01/2016  Trevor Snodgrass        Sur

            Unnamed: 3   Unnamed: 4 Unnamed: 5 Unnamed: 6
0                  NaN          NaN        NaN        NaN
1                  NaN          NaN        NaN        NaN
2                  NaN          NaN        NaN        NaN
3                  NaN          NaN        NaN        NaN
4             Articulo    Categoria   Unidades   Ganancia
..                 ...          ...        ...        ...
460            Bufanda   Vestimenta          6       16,5
461          Sandalias   Vestimenta         11      115,5
462  Sanguche de Queso  Comestibles          4        6,4
463         Escobillon        Hogar          8        6,8
464          Pepinillo  Comestibles          7        2,1

[465 rows x 7 columns]