In [ ]:
import pandas as pd
# leyendo un excel 
dataframe = pd.read_excel(r'C:\Case\Python-MinTic\Archivos_Ejemplo\Listado-de-proveedores-y-contactos.xlsx')
    
print(dataframe)

In [ ]:
import pandas as pd 
# leyendo un json
dataframe = pd.read_json(r'C:\Case\Python-MinTic\Archivos_Ejemplo\archivo.json')

print(dataframe)

In [ ]:
import pandas as pd
 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')
dataframe
dataframe.shape
dataframe.shape[0]
dataframe.shape[1]

dataframe.head()

dataframe.head(3)

In [ ]:
import pandas as pd
 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\ejemplo.csv')

dataframe
dataframe.shape
dataframe.head(10)
dataframe.tail() # ultimos registros default 5

In [ ]:
import pandas as pd
 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\ejemplo.csv')

dataframe
dataframe.info()

In [ ]:
import pandas as pd
 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')
dataframe
dataframe.Edad.value_counts()
dataframe.Automovil.value_counts()

In [ ]:
import pandas as pd
# ordenamiento 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')
dataframe
dataframe.Pais.sort_values()
dataframe.sort_values(by=['Nombre','Edad'])

In [ ]:
import pandas as pd
# Condiciones booleanas para filtrar la informaci√≥n
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe[dataframe.Pais == 'Peru']

dataframe[(dataframe.Pais=='Peru')&(dataframe.Automovil=='Si')]

In [ ]:
import pandas as pd
# Trabajar con strings
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe.Pais.str.contains('Peru') # Imprime si cumple o no por cada registro
dataframe[dataframe.Pais.str.contains('Peru')] # imprime el registro que cumple

In [ ]:
import pandas as pd
# cambiar indices o configurar un indice para un dataframe
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe.set_index('Pais') # Esto solo crea una copia del dataframe sobre el que se aplica el metodo
dataframe.set_index('Pais', inplace=True)

dataframe.reset_index(inplace=True)
dataframe

dataframe_id_pais = dataframe.set_index('Pais')

dataframe_id_pais

In [ ]:
import pandas as pd
# Ordenamiento por indice
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

pais =  dataframe.set_index('Pais')

pais

pais.sort_index()

pais.sort_index(ascending=False)

In [ ]:
import pandas as pd
# Localizacion de etiquetas
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

pais =  dataframe.set_index('Pais')

pais.loc['Argentina']

dataframe.loc[dataframe.Pais == 'Peru']

dataframe.iloc[4]

dataframe.iloc[2:5]

In [48]:
import pandas as pd
# Group by
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe.groupby('Pais')

list(dataframe.groupby('Pais'))

[('Argentina',
    Nombre  Edad       Pais Automovil
  3  Laura    66  Argentina        No
  4  Laura    67  Argentina        No),
 ('Honduras',
    Nombre  Edad      Pais Automovil
  1  Pedro    41  Honduras        Si),
 ('Mexico',
    Nombre  Edad    Pais Automovil
  0   Juan    35  Mexico        No),
 ('Peru',
    Nombre  Edad  Pais Automovil
  2  Maria    28  Peru        Si)]

In [49]:
import pandas as pd
# iterando un group by 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe
for group_key, group_value in dataframe.groupby('Automovil'):
    print(group_key)
    print(group_value)

No
  Nombre  Edad       Pais Automovil
0   Juan    35     Mexico        No
3  Laura    66  Argentina        No
4  Laura    67  Argentina        No
Si
  Nombre  Edad      Pais Automovil
1  Pedro    41  Honduras        Si
2  Maria    28      Peru        Si

In [2]:
import pandas as pd
# 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe.groupby(['Pais', 'Edad', 'Nombre']).agg({'Edad':['min','max', 'count']})

# a partir del agrupamiento se puede definir algo mas como minimo, maximo, contar

                      Edad
                       min max count
Pais      Edad Nombre
Argentina 66   Laura    66  66     1
          67   Laura    67  67     1
Honduras  41   Pedro    41  41     1
Mexico    35   Juan     35  35     1
Peru      28   Maria    28  28     1

In [1]:
import pandas as pd
# iterando un group by 
dataframe = pd.read_csv(r'C:\Case\Python-MinTic\Archivos_Ejemplo\dataframe.csv')

dataframe


filtrar = dataframe[(dataframe.Pais=='Honduras') |(dataframe.Pais=='Argentina') & (dataframe.Automovil == 'No')]

agrupamos = filtrar.groupby(['Pais', 'Automovil']).size()

agrupamos

Pais       Automovil
Argentina  No           2
Honduras   Si           1
dtype: int64